/* Write your global styles here, in PostCSS syntax */
  @import url('https://fonts.googleapis.com/css2?family=Copse&display=swap');
  

@tailwind base;
@tailwind components;
@tailwind utilities

navhead {
    font-family: "Copse", sans-serif;
}

navicon {
    width: 150px;
}